<form class="main-form" (ngSubmit)="onRegister()">
  <div class="main-card">
    <div class="form-group">
      <label for="email">Email: </label>
      <input type="text" id="email" [(ngModel)]="email" placeholder="Email" name="email">
    </div>
    <br>
    <div class="form-group">
      <label for="nome">Nome: </label>
      <input type="text" id="nome" [(ngModel)]="name" placeholder="Nome" name="nome">
    </div>
    <br>
    <div class="form-group">
      <label for="senha">Senha: </label>
      <input type="password" id="senha" [(ngModel)]="password" placeholder="Senha"  name="senha">
    </div>
    <br>

    <br>
    <button type="submit">Criar usuário</button>
  </div>
  </form>
  {{feedbackMessage}}
  {{email}}
  