<header>
    <h2>
      <a routerLink="/"><i class="fa-solid fa-mug-hot"></i> PB Art Hub </a>
    </h2>
    <nav>
      <ul>
        <li routerLink="">Início</li>
        <li><a routerLink='/item'>Peças</a></li>
        <li><a routerLink=''>Contato</a></li>
        <li><a href='#'><i class="fa-solid fa-location-dot"></i></a></li>
        <li><a href='#'><i class="fa-brands fa-instagram"></i></a></li>
        <li><a href='#'><i class="fa-solid fa-link"></i></a></li>
      </ul>
    </nav>
  </header>
