<header>
    <h2>
      <a routerLink="/"><i class="fa-solid fa-mug-hot"></i> Dulce Paladar </a>
    </h2>
    <nav>
      <ul>
        <li routerLink="">Início</li>
        <li><a routerLink='cardapio'>Cardápio</a></li>
        <li><a routerLink='contato'>Contato</a></li>
        <li><a href="#"><i class="fa-solid fa-location-dot"></i></a></li>
        <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
        <li><a href="#"><i class="fa-solid fa-link"></i></a></li>
      </ul>
    </nav>
  </header>