<app-nav-bar></app-nav-bar>

  <section class="a">
    <ul class="inicio">
      <li class="inicio-esquerda">
        <h1>Bem-vindos ao<br>PB Art Hub</h1>
        <h3>Lar do artesanato regional paraibano</h3>
      </li>
      <li class="inicio-direita"></li>
    </ul>
  </section>

  <section class="b">
    <ul class="sobre">
      <li class="sobre-esquerda"></li>
      <li class="sobre-direita">
        <h1>Sobre</h1>
        <h3>
          O PB ArtHub é uma iniciativa social para digitalizar o comércio de artesanato regional paraibano. Pretendemos fazer com que a nossa arte local possa ser vista e experienciada sem a limitação de distancias ou fronteiras. Conheça nossos artistas parceiros, seus trabalhos, e como eles refletem a cultura e o dia-a-dia na Paraíba.
          Torne-se um artesão parceiro. Junte-se a nós.
        </h3>
      </li>
    </ul>
  </section>

  <div class="fixo">
    <a routerLink="/contato">

    </a>
  </div>

  <div>
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3959.058182410427!2d-34.82578888462308!3d-7.119256271793753!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x7acdd28cfa496b7%3A0x5bee687a9ae9c5b!2sBusto%20Tamandar%C3%A9!5e0!3m2!1spt-BR!2sbr!4v1653451164782!5m2!1spt-BR!2sbr"
      width="450"
      height="450"
      style="width: 100%;"
      allowfullscreen=""
      loading="lazy"
      referrerpolicy="no-referrer-when-downgrade">
    </iframe>
  </div>

  <footer>
    <h2><a href='#'><i class="fa-solid fa-shop"></i> PB ArtHub </a></h2>
    <p class="copyright">&copy; Copyright - 2021</p>
    <p>Av. Primeiro de Maio, 720 - Jaguaribe, João Pessoa - PB, 58015-435<br>Fale conosco: contato:pbarthub.com.br </p>

  </footer>
