<header>
    <h2>
      <a routerLink="/"><i class="fa-solid fa-mug-hot"></i> PB Arthub </a>
    </h2>
    <nav>
      <ul>
        <li><a routerLink="/home">Início</a></li>
        <li><a routerLink="/cardapio">Peças</a></li>
        <li><a routerLink="/contato">Contato</a></li>
        <li><a href='#'><i class="fa-solid fa-location-dot"></i></a></li>
        <li><a href='#'><i class="fa-brands fa-instagram"></i></a></li>
        <li><a href='#'><i class="fa-solid fa-link"></i></a></li>
      </ul>
    </nav>
</header>
